<%- include("partials/header") %>

<h1>This is the campgrounds page!</h1>

<% campgroundsGallery.forEach(function(campground){ %>
<div>
    <h4>
        <%= campground.name %>
    </h4>
    <img src="<%= campground.image %>" alt="">
</div>
<% }) %>

<a href="/campgrounds/new">Add a New Campground</a>

<%- include("partials/footer") %>